
.custom-select {
   background: rgba(0, 0, 0, 0.7);
  position: relative;
  cursor: pointer;
}
.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  margin-bottom: 11px;
  background: rgba(0, 0, 0, 0.7);
   backdrop-filter: blur(7px);
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 10;
  padding: 8px 0;
  max-height: 200px;
  overflow-y: auto;
}
.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.custom-option {
  
}

.option-container {
  
}

.option-container:hover {
   
}


